services: 
        studentapp: 
            build: .
            ports:
                - "8080:8080" 
        sample:
            build: .
            ports:
                - "80:80"
            
        frontend:
            build: .
            ports:
                - "5000:5000"

        backend:
            build: .
            ports:
                - "3001:3001"